<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <section id="form_container">
      <div class="form_main">
        <div class="form_left">
          <h2>Curious about what to look forward to?</h2>
          <p>
            Fret not because we have got it all covered for you. Once an
            ideapreneur registers their business idea, they will be sufficiently
            guided on how to shape and enhance their business plan. Each
            registration will access a 3-day mentorship session where they will
            be assisted through the process of starting up and curating a
            working business plan. Learn from the best before you compete with
            hundreds of other business ideas and secure your chances of winning
            the ultimate cash prize worth INR XXX. Feel free to reach out to us;
            we would love to cater to your curiosity.<br /><br />
            Email: reverrfinaura@gmail.com
          </p>
        </div>
        <div class="form_right">
          <h2>Registration Form</h2>
          <form action="/home">
            <input type="text" name="name" placeholder="Name" />
            <input type="email" name="email" placeholder="Email" />
            <input type="number" name="age" placeholder="Age" />
            <input type="text" name="State" placeholder="State" />
            <select name="slected">
              <option class="grey" selected disabled>
                Fundraising History
              </option>
              <option>Funded</option>
              <option>Non-Funded</option>
            </select>

            <textarea
              name="desc"
              placeholder="Share your business idea briefly..."
            ></textarea>
            <button type="submit">Pay</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
