<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Startup Shower</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <main class="main">
      <div class="top-section">
        <div class="bg-img"></div>
        <div class="logo__wrap">
          <img
            src="/img/reverr-logo.svg"
            width="120px"
            style="-webkit-user-drag: none"
          />
        </div>
        <div class="top-section__content-wrap">
          <div class="headings">
            <div style="font-size: 2rem; font-weight: bold">REVERR</div>
            <div style="font-size: 1.2rem; font-weight: bold">PRESENTS</div>
            <br />
            <div style="font-size: 3.2rem">STARTUP SHOWER</div>
          </div>
          <div class="subtitle">
            You have the drive; we have the know-how. Be the top ideapreneur and
            build a business from scratch while we take care of your funds.
            Register to get an exclusive opportunity to pitch on stage in front
            of an expert audience.
          </div>
          <div>
            <button id="signup-btn" class="signup-btn">SIGN UP</button>
          </div>
          <!--<div id="signup" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h1>Registration Form</h1>
              <p style="text-align: justify">
                Curious about what to look forward to? Fret not because we have
                got it all covered for you. Once an ideapreneur registers their
                business idea, they will be sufficiently guided on how to shape
                and enhance their business plan. Each registration will access a
                3-day mentorship session where they will be assisted through the
                process of starting up and curating a working business plan.
                Learn from the best before you compete with hundreds of other
                business ideas and secure your chances of winning the ultimate
                cash prize worth INR XXX.
                <br />
                <br />
                Feel free to reach out to us; we would love to cater to your
                curiosity.
                <br />
                <br />
                <strong>Email: </strong>reverrfinaura@gmail.com
              </p>
              <br />
              <br />
              <form class="registration-form" id="registration-form">
                <label for="personName">Name: </label>
                <input
                  id="personName"
                  type="text"
                  placeholder="John"
                  onchange="(e) => {
                  console.log(e.target.value);
                }"
                />
                <br />
                <label for="email">Email: </label>
                <input id="email" type="email" placeholder="john@reverr.com" />
                <br />
                <label for="contact">Contact: </label>
                <input id="contact" type="text" placeholder="+91 1234567890" />
                <br />
                <label for="age">Age: </label>
                <input
                  id="age"
                  type="number"
                  placeholder="22"
                  min="1"
                  max="150"
                />
                <br />
                <label for="state">State: </label>
                <input
                  id="state"
                  type="text"
                  placeholder="Enter your state..."
                />
                <br />
                <label for="fundraising-history">Fundraising History: </label>
                <input id="fundraising-history" type="text" />
                <br />
                <label for="business-idea"
                  >Share your business idea briefly:
                </label>
                <textarea
                  id="business-idea"
                  style="resize: vertical"
                  rows="5"
                  placeholder="Write you business idea here..."
                ></textarea>
                <button type="submit" class="next-btn">Next</button>
              </form>
            </div>
          </div> -->
        </div>
      </div>
      <div class="about-section">
        <h1>A Business Idea Showcase</h1>
        <p>
          We, at Reverr, understand that all great businesses are born from an
          idea that is nurtured with passion, grit, and honest determination.
          Taking it a step further, we bring to you the Startup Shower, an
          opportunity for all curious ideapreneurs to grow their idea into an
          actionable plan and system. It is the one-stop point to cultivate your
          business idea and scale it up, all while getting exposure and
          connectivity to the industry best. The Startup Shower is an event that
          celebrates the most innovative business ideas and minds and aims to
          bring them together for the ultimate quest for the best. The stage is
          set for all the aspiring ideapreneurs and we are ready to help you up
          your game. Get access to lessons from industry leaders, pitching
          sessions with top investors, workshops to help you refine your ideas,
          and discussions where you can network with like-minded individuals.
          So, buckle up and get ready to race your mental faculties in this
          contest that will lead your idea to a fundraising opportunity.
        </p>
        <div class="feature-card__wrap">
          <div class="feature-card">
            <h3>Feature #1<br />Align Your Business Ideas With Goals</h3>
            <p>
              It's easy to have an idea, but it's not always so easy to know how
              to turn that idea into a tangible business plan. We have the
              process and resources in place to help you make your ideas take
              shape. With an actionable plan that aligns with your goals, the
              sky is the limit. Your new life as a young entrepreneur starts
              here.
            </p>
          </div>
          <div class="feature-card">
            <h3>Feature #2<br />Get The Funds You Need</h3>
            <p>
              Turn your idea into a fundraising opportunity. At the Startup
              Shower, you’ll get the opportunity to grow your idea into a
              business—all while getting exposure and connectivity to the
              industry best. Let us help you turn your ideas into reality and
              find the right investors for you.
            </p>
          </div>
          <div class="feature-card">
            <h3>Feature #3<br />Get An Expert Opinion On Your Idea</h3>
            <p>
              Startup Shower is a one-of-a-kind event that celebrates the spirit
              of entrepreneurship. Meet with experts in the field, engage with
              high-net-worth individuals and investors, and connect with other
              entrepreneurs at the top of their game.
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-options">
          <h4>Contact Us</h4>
          <a
            href="mailto:reverrfinaura@gmail.com"
            rel="noreferrer"
            style="text-decoration: none; color: #fff"
          >
            <div style="display: flex; align-items: center">
              <img
                src="img/email.png"
                class="email-img"
                alt="email"
              />&nbsp;&nbsp;reverrfinaura@gmail.com
            </div>
          </a>
        </div>
        <div class="footer-options">
          <h4>Join our community</h4>
          <div>QR Code</div>
        </div>
        <div class="footer-options">
          <h4>Connect with us</h4>
          <div class="social-icons">
            <a
              href="https://m.facebook.com/people/Reverr-App/100082885217498/"
              rel="noreferrer"
              target="_blank"
            >
              <img src="img/facebook.png" class="icons" />
            </a>
            <a href="" rel="noreferrer" target="_blank">
              <img src="img/youtube.png" class="icons" />
            </a>
            <a href="https://www.linkedin.com/company/reverr/" target="_blank">
              <img src="img/linkedin.png" class="icons" />
            </a>
            <a href="" rel="noreferrer" target="_blank">
              <img src="img/instagram.png" class="icons" />
            </a>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
